#login{
    display: flex;
    flex-direction: column;
}
#login label{
    width: 100%;
    margin-bottom: 20px;
}

#login input{
    width: 100%;
    height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
} 