{% extends 'news/base.html' %}

{% block title %}Свяжитесь с нами{% endblock %}
{% block content %}
<section class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Обратная связь</h1>
          <p class="lead">Оставьте свое сообщение и мы вам ответим</p>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <label for="">Ф.И.О.</label>
                <input type="text" name="name" class="form-control">
                <label for="">Телефон</label>
                <input type="text" name="phone" class="form-control">
                <label for="">Email</label>
                <input type="text" name="email" class="form-control">
                <label for="">Сообщение</label>
                <input type="text" class="form-control">
                <button class="btn btn-outline-dark">Отправить</button> 
            </form>
        </div>
        <div class="col-md-6">
            <h3>Наш адрес:</h3>
            <p>Улица Пушкина, дом Колотушкина</p>
            <h3>Телефоны</h3>
            <p>880005556669</p>
            <p>+7652228982</p>
        </div>
    </div>
</section>
{% endblock %}