{% extends 'news/base.html' %}

{% block title %}Регистрация{% endblock %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-outline-dark"></button>
            </form>
        </div>
    </div>
</section>
{% endblock %}